<%= flash_message %>

<% headline = @location.name.present? ? @location.name : @location.city %>

<h2><%= link_to headline, location_path(@location) %></h2>
<p>
  Visits this month: <%= @visits.count %>
  <%= link_to "Add Visit", new_location_visit_path(@location) %>
</p>
<ul>
  <% @visits.each do |visit| %>
    <li>
      <%= visit.user_name %>
      <%= link_to 'edit', edit_location_visit_path(location_id: @location.id, id: visit.id) %>
      <%= delete_visit_link(@location, visit) %>
      <br/>From: <%= visit.from_date %>
      <br/>To: <%= visit.to_date %>
    </li>
  <% end %>
</ul>
